@keyframes ldio-zoi1ewbwpy8 {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.6600000000000001, 1.6600000000000001);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-zoi1ewbwpy8 div > div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #73a5ff;
  animation: ldio-zoi1ewbwpy8 1s linear infinite;
}
.ldio-zoi1ewbwpy8 div:nth-child(1) > div {
  left: 146px;
  top: 88px;
  animation-delay: -0.875s;
}
.ldio-zoi1ewbwpy8 > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 158px 100px;
}
.ldio-zoi1ewbwpy8 div:nth-child(2) > div {
  left: 129px;
  top: 129px;
  animation-delay: -0.75s;
}
.ldio-zoi1ewbwpy8 > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 141px 141px;
}
.ldio-zoi1ewbwpy8 div:nth-child(3) > div {
  left: 88px;
  top: 146px;
  animation-delay: -0.625s;
}
.ldio-zoi1ewbwpy8 > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 158px;
}
.ldio-zoi1ewbwpy8 div:nth-child(4) > div {
  left: 47px;
  top: 129px;
  animation-delay: -0.5s;
}
.ldio-zoi1ewbwpy8 > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 59px 141px;
}
.ldio-zoi1ewbwpy8 div:nth-child(5) > div {
  left: 30px;
  top: 88px;
  animation-delay: -0.375s;
}
.ldio-zoi1ewbwpy8 > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 42px 100px;
}
.ldio-zoi1ewbwpy8 div:nth-child(6) > div {
  left: 47px;
  top: 47px;
  animation-delay: -0.25s;
}
.ldio-zoi1ewbwpy8 > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 59px 59px;
}
.ldio-zoi1ewbwpy8 div:nth-child(7) > div {
  left: 88px;
  top: 30px;
  animation-delay: -0.125s;
}
.ldio-zoi1ewbwpy8 > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 42px;
}
.ldio-zoi1ewbwpy8 div:nth-child(8) > div {
  left: 129px;
  top: 47px;
  animation-delay: 0s;
}
.ldio-zoi1ewbwpy8 > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 141px 59px;
}
.loadingio-spinner-spin-bv29rx45d3k {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #000000;
}
.ldio-zoi1ewbwpy8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zoi1ewbwpy8 div {
  box-sizing: content-box;
}
