.card {
  padding: 2.31rem  2.25rem 2.75rem 2.25rem;
  min-width: 26.25rem;
  > h1 {
    text-align: center;
    margin-bottom: 1.69rem;
  }
}
.svgContainer {
 display: flex;
 justify-content: center;
 align-items: center;
}
.text {
  margin-top: 1.19rem;
  color: var(--color-light-900);
  opacity: 0.5;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  text-align: center;
}
.button {
  margin-top: 4.06rem;
}

