.root {
  background: var(--color-dark-500);
  border-collapse: collapse;

  & th {
    padding: 0.375rem 1.5rem;
    color: var(--color-light-100);
    text-align: left;
    // border: 1px solid red;

    &[data-sortable='true'] {
      //    background-color:transparent;
      cursor: pointer;
      user-select: none;
    }
  }
  & td {
    // border: 1px solid red;
  }
  & th:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.sortedLine {
  transition: background-color 0.3s ease-in-out;
  background-color: var(--color-dark-300);
}
.hiddenSvg {
  opacity: 0;
  margin-left: 0.25rem;
}
.arrowUp {
  animation: ani 0.3s forwards;
}
.arrowDown {
  opacity: 1;
  transition: transform 0.4s ease-in-out;
  transform: rotate(180deg);
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tableBody {
  border: 1px solid var(--color-dark-500);
}
.tableCell {
  text-align: left;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-dark-500);
  padding: 0.375rem 1.5rem;
  align-items: center;
}
