/* reset */
button,
fieldset,
input {
  all: unset;
}
.closeButtonTitle {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.DialogOverlay {
  background-color: var(--color-dark-500);
  animation: overlayShow 1.5s cubic-bezier(0.16, 1, 0.3, 1);
  position: fixed;
  background-color: rgb(0 0 0 / 50%);
}

.DialogContent {
  background-color: var(--color-dark-700);
  border-radius: 0.125rem;
  border: 1px solid var(--color-dark-500);
  animation: contentShow 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.contentBox {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.DialogTitle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 1.12rem 1.5rem;
}

.ModalContentTextProps {
  padding: 1.12rem 1.5rem;
}
.ModalFooter {
  padding: 0.75rem 2.25rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
