@mixin button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 0.375rem 1.72rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 0.25rem;

  transition:
    1s background-color,
    1s color;

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}

.primary {
  @include button;
  color: var(--color-text-primary);
  background-color: var(--color-primary);
  box-shadow: 0px 4px 18px 0px rgba(140, 97, 255, 0.35);

  &:active {
    background-color: var(--color-primary-active);
  }
  &:hover {
    background-color: var(--color-primary-hover);
  }
  &:focus {
    outline: 2px solid var(--color-info-700);
    background-color: var(--color-accent-500);
  }
}

.secondary {
  @include button;
  background-color: var(--color-secondary);
  box-shadow: 0px 4px 4px 0px rgba(77, 86, 96, 0.13);

  &:active {
    background-color: var(--color-secondary-active);
  }
  &:hover {
    background-color: var(--color-secondary-hover);
  }
  &:focus {
    border-radius: 0.25rem;
    outline: 2px solid var(--color-info-700);
  }
}

.tertiary {
  @include button;
  color: var(--color-accent-500);
  box-shadow: 0px 4px 4px 0px rgba(77, 86, 96, 0.13);
  border: 1px solid var(--color-accent-500);

  &:active {
    background-color: var(--color-accent-900);
  }
  &:hover {
    background-color: var(--color-accent-700);
  }
  &:focus {
    border-radius: 0.25rem;
    outline: 2px solid var(--color-info-700);
  }
  &:disabled {
    background-color: none;
  }
}

.link {
  @include button;
  color: var(--color-accent-500);
  &:active {
    color: var(--color-accent-700);
  }
  &:hover {
    color: var(--color-accent-300);
  }
  &:focus {
    outline: 2px solid var(--color-info-700);
    border-radius: 8.125rem;
  }
}

.fullWidth {
  width: 100%;
}
