@mixin marginBottom() {
  margin-bottom: 1.5rem;
}
.deckImg {
  width: 100%;
  object-fit: cover;
  height: 7.4375rem;
  padding: 1.5rem 0;
}
.addCoverBtn {
  @include marginBottom();
}
.packNameInput {
  @include marginBottom();
}
.isPrivate {
  @include marginBottom();
}
