.card {
  padding: 2.06rem  2.25rem 1.81rem 2.25rem;
  max-width: 26.25rem;
  > h1 {
    text-align: center;
  }
  margin-bottom: 1.69rem;
}

.textField {
  margin-top: 3.13rem;
}

.text {
  margin-top: 1.19rem;
  margin-bottom: 1.25rem;
  color: var(--color-light-900);
  opacity: 0.5;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}
.button {
  margin-top: 2.56rem;
}
.dontHaveAccount {
  margin-top: 1.25rem;
text-align: center;
color: var(--color-light-900);
}
.signUpLink {
  display: flex;
  justify-content: center;
  margin-top: 0.69rem;
  color: var(  --color-accent-500);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
  text-decoration-line: underline; 
}
