.root {
  //text
  & * {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    font-weight: var(--font-weight-regular);
    color: var(--color-dark-100);
  }
}
.input {
  padding: 0.37rem 0.75rem;
  border-radius: 0.125rem;
  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  outline: 2px transparent;
  width: 100%;

  &:focus-visible {
    border: 1px solid var(--color-light-100);
    color: var(--color-light-100);
  }
  &:hover {
    background-color: var(--color-dark-700);
  }
  &:focus-visible {
    outline: 2px solid var(--color-info-700);
    border: none;
  }
  &.error {
    border: 1px solid var(--color-danger-300);
    color: var(--color-danger-300);
    outline: 2px transparent;
  }
  //text
}

.label {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-regular);
}

.errorLabel {
  color: var(--color-danger-300);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-regular);
}

.rightIcon {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  position: absolute;
  top: 48px;
  right: 27px;
 
}
