.root {
  //text
  & * {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    font-weight: var(--font-weight-regular);
    color: var(--color-dark-100);
  }
}
.input {
  padding: 0.37rem 0.75rem;
  border-radius: 0.125rem;
  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  outline: 2px transparent;

  //text
}

// .label {
// }
