@mixin marginBottom() {
  margin-bottom: 1.5rem;
}
.title__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
.params__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin-top: 1.5rem;
}

.paramWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.deckImg {
  width: 100%;
  object-fit: cover;
  height: 7.4375rem;
  padding: 1.5rem 0;
}
.addCoverBtn {
  @include marginBottom();
}
.packNameInput {
  @include marginBottom();
}
.isPrivate {
  @include marginBottom();
}
