.root {
}
.tableRoot {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2.25rem;
  table-layout: fixed;
  & p {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
.deckNameContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.62rem;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
}
.deckCover {
  width: 7.39156rem;
  height: 3rem;
  border-radius: 0.125rem;
  object-fit: contain;
  background-color: var(--color-bg);
}
.paginationContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}
