.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outletWrapper {
  min-width: 26.25rem;
  margin: 2.06rem  8.59rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
