.backNavigateContainer {
  width: 100%;
  align-items: flex-start;
}
.paramsWrapper {
  margin-top: 2.06rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.deckName {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.backButton {
  transition: border-bottom 0.4s linear;
  border-bottom: 1px  solid transparent;
  margin-left: -1.72rem;
}
.backButton:hover {
  border-bottom: 1px solid;
}
.deckCover {
  margin-top: 0.94rem;
  width: 10.625rem;
  height: 6.6875rem;
  background-color: var(-color-bg);
  object-fit: contain;
}
.searchInput {
  margin-top: 1.56rem;
}
.tableContainer {
  width: 100%;
  max-width: 100%;
  overflow-x: auto; /* Добавляем горизонтальную прокрутку, если таблица превышает ширину родителя */
}
.rootTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1.5rem;
  table-layout: fixed;
}
